
/* 
TICKET PAGE */
*, ::before, ::after {
    box-sizing: inherit;
}

.ticketpage-header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    width:100%;
    margin: auto;
    margin-bottom: 20px;
    padding:40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #8959E5;
    font-size:30px;
    color:white;
    background-image: url(../../jazz/uploads/example.jpg);
}


.tickets-heading{
    padding:30px;
    width:auto;
    color:black;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 3px;

}

.tickets-heading > h2{
    text-transform: uppercase;
    margin: 0px 4px 0px 0px;
    font-weight:600;
    font-size:20px;
}

.tickets-body{
    background-color:white;
    margin:auto;
    height:auto;
    width:90%;
    margin-bottom:10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 3px;
}
.tickets{
    display:flex;
    margin-left:30px;
}

.u-list-item:first-child{
    border-top: none;
}
.u-list-item{
    margin:0px;
    padding:0px;
    list-style:none;
}
.list-item{
    /* border-bottom:1px solid rgb(191, 191, 191); */
    font-family: "SF Pro Display", sans-serif, "Helvetica Neue" Helvetica, Arial;
    color:black;

}
li{
    display:list-item;
    text-align: -webkit-match-parent;
}
.tickets-container{
    padding: 20px;
    display:flex;
    flex-direction:row;
    position: relative;
    -webkit-box-flex: 1;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;

    
}
.date-start{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:15px;
}
.date-month{
    text-transform: uppercase;
    color: rgb(100, 100, 100);
    line-height: 1.2;

}
.date-date{
    font-size: 30px;
    line-height: 1;
}
.date-year{
    color: rgb(100, 100, 100);
}
.artist-name{
    /* display:block; */
    margin:0 0 4px;
    line-height: 1;
    text-transform: uppercase;
    font-size:17px;
    width:5rem;
    padding:2px;
    font-weight: bold;
}
.artist-time{
    font-size:16px;
    padding:2px;
    color: rgb(100, 100, 100);
    /* width:50%; */
}
.artist-location{
    font-size:20px;
    font-weight:bold;
    text-transform: capitalize;
}
.artist-price{
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.artist-about{
    font-size: 16px;
    position: absolute;
    width:20rem;
    left:30%;
    top:20%;
    padding: 5px;
    height: auto;
    border:1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.artist-about:after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.artist-about:hover{
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}
.artist-about:hover::after {
    opacity: 1;
}

.flex-column{
    display:flex;
    flex-direction:column;
    margin-left:60px;
    width:100%;
}

.tickets-buttons{
    margin-left: 80rem;
    margin-top:-20px;

}

.button1{
    position: relative;
    padding: 8px 16px 8px 24px;
    width:150px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background-color: #4834d4;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
    margin-right:-24rem;
    font-size: 15px;
}
.inputfield{
    margin: 10px;
    width: 50px;
    height:30px;
    font-size: 16px;
}
.tickets-buttons label{
    font-size:18px;
}

.button1{
    top:50%;
    
}

.button2:active{
    transform: scale(.9);
}

.button1{
    color: black;
    border: 1px solid #8959E5;
    background-color: #FFFFFF;
}
.button2{
    background-color:#8959E5;
    color:#ffffff;
}
.button2:hover{
    background-color:#3A2367;
}
.button1:hover{
    background-color:#3A2367;
    color:white;
}
.button2 span{
    position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	font-size: 1.2em;
	color: #fff;
	transform: translate(-50%,-50%);
}
.button2 span.add-to-cart{
    opacity: 1;
}
.button2 span.added {
	opacity: 0;
}
.button2.clicked span.add-to-cart {
	animation: txt1 1.5s ease-in-out forwards;
}
.button2.clicked span.added {
	animation: txt2 1.5s ease-in-out forwards;
}

@keyframes txt1 {
	0% {
		opacity: 1;
	}
	20%, 100% {
		opacity: 0;
	}
}
@keyframes txt2 {
	0%, 80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

